<div class='heading'>Forex Payments</div>
<table class="settlement_report">
  <tr>
    <th>Employee Id</th>
    <th>Name</th>
    <th>Issue Date</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Place</th>
    <th>Amount INR</th>
  </tr>
  <%
    # TODO: Move into model
    forex_inr_total = 0
    @expense_report.get_forex_payments.each do |payment|
      forex_inr_total += payment.inr
    %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= payment.emp_id %></td>
      <td><%= payment.emp_name %></td>
      <td><%= payment.issue_date %></td>
      <td><%= number_with_precision(payment.amount, :precision => 2) %></td>
      <td><%= payment.currency %></td>
      <td><%= payment.place %></td>
      <td class='right_align'><%= number_with_precision(payment.inr, :precision => 2) %></td>
    </tr>
  <% end %>
  <tr class="heading_no_align">
    <td colspan="6">Total </td>
    <td class='right_align'><%= number_with_precision(forex_inr_total, :precision => 2) %></td>
  </tr>
</table>
<div class='heading'>Expenses</div>
<table class="settlement_report">
  <tr>
    <th>Expense Report ID</th>
    <th>Currency</th>
    <th>Amount</th>
    <th>Conversion Rate</th>
    <th>Amount in INR</th>
  </tr>
  <%
    # TODO: Move into model
    expense_inr_total = 0
    @expense_report.get_consolidated_expenses.each do |expense|
      expense_inr_total += expense["local_currency_amount"]
    %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= expense["report_id"] %></td>
      <td><%= expense["currency"] %></td>
      <td><%= expense["amount"] %></td>
      <td><%= number_with_precision(expense["conversion_rate"], :precision => 2) %></td>
      <td class='right_align'><%= number_with_precision(expense["local_currency_amount"], :precision => 2) %></td>
    </tr>
  <% end %>
  <tr class="heading_no_align">
    <td colspan="4">Total</td>
    <td class='right_align'><%= number_with_precision(expense_inr_total, :precision => 2) %></td>
  </tr>
</table>

<table class="settlement_report">
  <tr class="<%= cycle("even","odd") %>">
    <td>Cash Handed over:</td>
    <td><%= @expense_report.cash_handover %></td>
    <td><%= number_with_precision(@expense_report.get_conversion_rate, :precision => 2) %></td>
    <td class='right_align'><%= number_with_precision((@expense_report.cash_handover * @expense_report.get_conversion_rate), :precision => 2) %></td>
  </tr>
  <tr>
    <% if @expense_report.get_receivable_amount.positive? %>
      <td colspan="3">Receivable from employee :</td>
    <% else %>
      <td colspan="3">Payable to employee :</td>
    <% end %>
    <td class='right_align heading_no_align'><%= number_with_precision(@expense_report.get_receivable_amount.abs, :precision => 2) %></td>
  </tr>
</table>
