<%= form_for(@outbound_travel) do |f| %>
  <% if @outbound_travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outbound_travel.errors.count, "error") %> prohibited this Outbound Travel from being saved:</h2>

      <ul>
        <% @outbound_travel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="no_emp hide error">No employee found for given name.</div>
  <div class="fields">
    <table>
      <tr>
        <td><%= f.label :emp_id, 'Employee Id'%>:</td>
        <td><%= f.text_field :emp_id, :class => 'emp_id'%></td>
      </tr>
      <tr>
        <td><%= f.label :emp_name, 'Employee Name'%>:</td>
        <td><%= f.text_field :emp_name, :class => 'emp_name'%></td>
      </tr>
      <tr>
        <td><%= f.label :place, 'Place'%>:</td>
        <td><%= f.text_field :place%></td>
      </tr>
      <tr>
        <td><%= f.label :travel_duration, 'Travel Duration'%>:</td>
        <td><%= f.text_field :travel_duration%></td>
      </tr>
      <tr>
        <td><%= f.label :payroll_effect, 'Payroll Effect'%>:</td>
        <td><%= f.text_field :payroll_effect%></td>
      </tr>
      <tr>
        <td><%= f.label :departure_date, 'Departure Date'%>:</td>
        <td><%= f.text_field :departure_date%></td>
      </tr>
      <tr>
        <td><%= f.label :foreign_payroll_transfer, 'Foreign Payroll Transfer Date'%>:</td>
        <td><%= f.text_field :foreign_payroll_transfer%></td>
      </tr>
      <tr>
        <td><%= f.label :return_date, 'Return Date'%>:</td>
        <td><%= f.text_field :return_date%></td>
      </tr>
      <tr></tr>
      <tr>
        <td><%= f.label :return_payroll_transfer, 'Return Payroll Transfer Date'%>:</td>
        <td><%= f.text_field :return_payroll_transfer%></td>
      </tr>
      <tr>
        <td><%= f.label :expected_return_date, 'Expected Return Date'%>:</td>
        <td><%= f.text_field :expected_return_date%></td>
      </tr>
      <tr>
        <td><%= f.label :project, 'Project'%>:</td>
        <td><%= f.text_field :project%></td>
      </tr>
      <tr>
        <td><%= f.label :comments, 'Commets'%>:</td>
        <td><%= f.text_field :comments%></td>
      </tr>
      <tr>
        <td><%= f.label :actions, 'Actions'%>:</td>
        <td><%= f.text_field :actions%></td>
      </tr>
    </table>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
