<%= form_for(@outbound_travel) do |f| %>
  <% if @outbound_travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outbound_travel.errors.count, "error") %> prohibited this Outbound Travel from being saved:</h2>

      <ul>
        <% @outbound_travel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="no_emp hide error">No employee found for given name.</div>
  <div class="fields">
    <table>
      <tr>
        <td class="text"><%= f.label :emp_id, 'Employee Id'%>:</td>
        <td><%= f.text_field :emp_id, :class => 'emp_id'%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :emp_name, 'Employee Name'%>:</td>
        <td><%= f.text_field :emp_name, :class => 'emp_name'%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :place, 'Country of Visit'%>:</td>
        <td><%= f.text_field :place%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :travel_duration, 'Duration of Stay (apprx)'%>:</td>
        <td><%= f.text_field :travel_duration%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :payroll_effect, 'Payroll effect in India'%>:</td>
        <td><%= f.text_field :payroll_effect%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :departure_date, 'Departure date from India'%>:</td>
        <td><%= f.text_field :departure_date , :class=> 'date_picker'%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :foreign_payroll_transfer, 'Foreign country payroll transfer date'%>:</td>
        <td><%= f.text_field :foreign_payroll_transfer%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :return_date, 'Return date to India'%>:</td>
        <td><%= f.text_field :return_date , :class=> 'date_picker'%></td>
      </tr>
      <tr></tr>
      <tr>
        <td class="text"><%= f.label :return_payroll_transfer, 'Payroll transfer date to India'%>:</td>
        <td><%= f.text_field :return_payroll_transfer%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :expected_return_date, 'Expected return date'%>:</td>
        <td><%= f.text_field :expected_return_date%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :project, 'Project Code'%>:</td>
        <td><%= f.text_field :project%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :comments, 'Comment'%>:</td>
        <td><%= f.text_field :comments%></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :actions, 'Actions'%>:</td>
        <td><%= f.text_field :actions%></td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :page_js do %>
  <script>
    $(document).ready(function(){
      populateForexFields();
    });
  </script>
<% end %>
