<%= form_for(@outbound_travel) do |f| %>
  <% if @outbound_travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outbound_travel.errors.count, "error") %> prohibited this Outbound Travel from being saved:</h2>

      <ul>
      <% @outbound_travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
 <% end %>

    <div class="fields">
    <%= f.label :emp_id, 'Employee Id'%>:
    <%= f.text_field :emp_id, :class => 'emp_id'%><br/>
    
    <%= f.label :emp_name, 'Employee Name'%>:
    <%= f.text_field :emp_name, :class => 'emp_name'%><br/>

    <%= f.label :place, 'Place'%>:
    <%= f.text_field :place%><br/>

    <%= f.label :travel_duration, 'Travel Duration'%>:
    <%= f.text_field :travel_duration%><br/>

    <%= f.label :payroll_effect, 'Payroll Effect'%>:
    <%= f.text_field :payroll_effect%><br/>

    <%= f.label :departure_date, 'Departure Date'%>:
    <%= f.text_field :departure_date%><br/>

    <%= f.label :foreign_payroll_transfer, 'Foreign Payroll Transfer Date'%>:
    <%= f.text_field :foreign_payroll_transfer%><br/>

    <%= f.label :return_date, 'Return Date'%>:
    <%= f.text_field :return_date%><br/>

    <%= f.label :return_payroll_transfer, 'Return Payroll Transfer Date'%>:
    <%= f.text_field :return_payroll_transfer%><br/>

    <%= f.label :expected_return_date, 'Expected Return Date'%>:
    <%= f.text_field :expected_return_date%><br/>

    <%= f.label :project, 'Project'%>:
    <%= f.text_field :project%><br/>

    <%= f.label :comments, 'Commets'%>:
    <%= f.text_field :comments%><br/>

    <%= f.label :actions, 'Actions'%>:
    <%= f.text_field :actions%><br/>

  
    </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
