<div class="right_align">
  <%= link_to image_tag("new_link.png") + "Create Outbound Travel", new_outbound_travel_path %>
</div>

<h1>Outbound Travels</h1>

<div class='saved_search'>
<span class='search_by'>Saved Searches:</span>
  <!-- TODO: Use the url helpers instead of hardcoding the url paths -->
  <%= link_to image_tag("search.png") + 'Recent Entries', '/outbound_travels/get_recent' %>
  <%= link_to image_tag("search.png") + 'Update Return Date', '/outbound_travels/travels_without_return_date' %>
</div>

<div class="no_emp hide error">No employee found for given name.</div>
<!-- TODO: This seems to be duplicated across all pages -->
<div>
  <%= form_tag(outbound_travels_path(:anchor => "outbound_travels"), :method => "get") do %>
    <span class="search_by">Search by:</span>

    <!-- TODO: This is the extra stuff -->
    <%= label_tag 'Departure From' %>
    <%= text_field_tag :departure_date, params[:departure_date], :class => 'date_picker' %>
    <span class="or_field">(or)</span>

    <%= label_tag 'Employee Name' %>:
    <%= text_field_tag :name, params[:name], :class => 'emp_name', :"data-href" => search_by_name_profiles_path %>
    <span class="or_field">(or)</span>
    <%= label_tag 'Employee Id' %>:
    <%= text_field_tag :emp_id, params[:emp_id], :class => 'emp_id', :"data-href" => search_by_id_profiles_path %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div class="right_align">
  <%= link_to(image_tag("excel.png") + "Export in Excel", export_outbound_travels_path(:format => :xls)) %>
</div>

<div>
  <%= paginate @outbound_travels %>
</div>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Country of Visit</th>
    <th>Duration of Stay</th>
    <th>Payroll effect in India</th>
    <th>Departure date</th>
    <th>Expected return Date</th>
    <th>Return date to India</th>
    <th>Comments</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <% @outbound_travels.each do |outbound_travel| %>
    <tr id='<%= outbound_travel.id %>' class="<%= cycle("even", "odd") %>">
      <td><%= outbound_travel.emp_id %></td>
      <td><%= outbound_travel.emp_name %></td>
      <td><%= outbound_travel.place %></td>
      <td><%= outbound_travel.stay_duration %></td>
      <td class='edit' name='payroll_effect'><%= outbound_travel.payroll_effect %></td>
      <td class='edit_date_picker' name='departure_date'><%= DateHelper.date_fmt(outbound_travel.departure_date) %></td>
      <td class='edit_date_picker' name='expected_return_date'><%= DateHelper.date_fmt(DateHelper.date_from_str(outbound_travel.expected_return_date)) %></td>
      <td class='edit_date_picker' name='return_date'><%= DateHelper.date_fmt(outbound_travel.return_date) %></td>
      <td class='edit' name='comments'><%= outbound_travel.comments %></td>
      <td><% if (outbound_travel.expense_settlement.nil?) %>
          <% if (outbound_travel.return_date.nil?) %>
            <%= link_to_function 'Process Expense', 'no_travel_return_date()', :class => 'no_travel_return_date' %>
          <% else %>
            <%= link_to 'Process Expense', load_by_travel_expense_settlement_path(:id => outbound_travel.id.to_s) %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to 'Show', outbound_travel_path(:id => outbound_travel.id) %> |
          <%= link_to 'Edit', edit_outbound_travel_path(:id => outbound_travel.id) %> |
          <%= link_to 'Destroy', outbound_travel_path(:id => outbound_travel.id), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br/>

<% content_for :page_js do %>
  <script>
    $(document).ready(function(){
      $('.edit_date_picker').editable(function(value, settings) {
        saveValue(value, settings, this);
      }, {
        type    : 'datepicker'
      });

      $('.edit').editable(function(value, settings) {
        saveValue(value, settings, this);
      }, {
        type   : 'text',
        submit : 'Save',
        cancel : 'Cancel'
      });

      // TODO: I think this is a bug that Ajit has discovered
      function saveValue(value, settings, _this){
        var obj_id = $(_this).parent().attr('id');
        var attr_name = $(_this).attr('name');
        $.ajax({
          type: 'POST',
          // TODO: Use url helpers rather than hardcoding the url
          url: '/outbound_travels/'+obj_id+'/update_field',
          data: {id: obj_id, name: attr_name, value: value},
          success: function(){
            location.reload();
          }
        })
      };
    });
  </script>
<% end %>
