<h1>Outbound travel details</h1>
<h1 class="center_text"><%= @outbound_travel.emp_name %> (Emp Id: <%= @outbound_travel.emp_id %>)</h1>
<div>
<h3 class="center_text"> Travel Details </h3>
<table class="display_table">
<tr>
  <th>Place</th>
  <th>Travel Duration</th>
  <th>Departure Date</th>
  <th>Return Date</th>
</tr>
<tr>
  <td><%= @outbound_travel.place %></td>
  <td><%= @outbound_travel.travel_duration %></td>
  <td><%= date_fmt(@outbound_travel.departure_date) %></td>
  <td><%= date_fmt(@outbound_travel.return_date) %></td>
</tr>
</table>

<h3 class="center_text"> Payroll Details </h3>

<table class="display_table">
  <tr>
    <th>Payroll Effect</th>
    <th>Foreign Payroll Transfer</th>
    <th>Return Payroll Date</th>
  </tr>
  <tr>
    <td><%= @outbound_travel.payroll_effect %></td>
    <td><%= @outbound_travel.foreign_payroll_transfer %></td>
    <td><%= @outbound_travel.expected_return_date %></td>
  </tr>
</table>
</div>

<div class="center_text">
  <b>Commets : </b>
  <%= @outbound_travel.comments %><br/>

  <b>Actions :</b>
  <%= @outbound_travel.actions %><br/>

</div>

<%= link_to 'Edit', edit_outbound_travel_path(@outbound_travel) %> |
<%= link_to 'Back', outbound_travels_path %>

