<html>
<head>
	<%= stylesheet_link_tag "bootstrap" %>
</head>
<body>
<br/>
<div>
<%= form_tag({:controller => "expense_report", :action => "list"}, :method => "get") do%>
 <label for="empl_id">Fetch expense reports for:</label>
	<input name="empl_id"/>
 <input type="submit" value="Fetch"/>
<% end %>
</div>
<% if @expense_reports %>
<div>Expenses</div>
<table>
<tr>
	<th>Travel Settlement Id</th>
	<th>Employee Id</th>
	<th>Travel Date</th>
	<th>Return Date</th>
	<th>Amount</th>
	<th>Status</th>
	<th>Completed On</th>
</tr>
<%@expense_reports.each do |expense_report|
	travel = expense_report.outbound_travel
	%>
	<tr>
		<td><%=expense_report.expense_rpt_id%></td>		
		<td><%=expense_report.empl_id%></td>		
		<td><%=travel.departure_date%></td>
		<td><%=travel.return_date%></td>
		<td><%=tra%></td>		
		<td><%=expense_report.description%></td>		
		<td><%=expense_report.original_cost%> <%=expense_report.original_currency%></td>
		<td><%=expense_report.payment_type%></td>		
	</tr>
<% end %>
</table>
<% end %>
</body>

</html>
