<html>
	<body>
		<%=form_tag({:action => 'generate_report'}, :method => 'post') do%>
		<input type=hidden name="empl_id" value="<%=@expense_report.empl_id%>" />
		<input type=hidden name="travel_id" value="<%=@expense_report.travel_id%>" />
		<br/>

		<div>Forex</div>
		<table>
          <tr>
			<th>&nbsp;</th>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Issue Date</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Place</th>
           </tr>
 			<%@expense_report.forex_payments.each do|payment|%>
			<tr>
				<td><%= check_box_tag 'forex_payments[]', payment.id.to_s, :checked => true%></td>
            	<td><%= payment.emp_id %></td>
	            <td><%= payment.emp_name %></td>
    	        <td><%= payment.issue_date%></td>
        	    <td><%= payment.amount%></td>
            	<td><%= payment.currency %></td>
	            <td><%= payment.place%></td>
			</tr>
			<% end %>
        </table>

		<div>Expenses</div>
		<table>
		<tr>
			<th>&nbsp;</th>
			<th>Expense Report Id</th>
			<th>Project Code</th>
			<th>Expense Date</th>
			<th>Expense Type</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Payment Type</th>
		</tr>
		<%@expense_report.expenses.each do|expense|%>
		<tr>
			<td><%= check_box_tag 'expenses[]', expense.id.to_s, :checked => true%></td>
			<td><%=expense.expense_rpt_id%></td>		
			<td><%=expense.project%></td>		
			<td><%=expense.expense_date%></td>		
			<td><%=expense.expense_type%></td>		
			<td><%=expense.description%></td>		
			<td><%=expense.original_cost%> <%=expense.original_currency%></td>
			<td><%=expense.payment_type%></td>		
		</tr>
		<% end %>
		</table>
		<div>
			<label for="cash_handover">Cash handed over by Employee: </label><%= text_field_tag 'cash_handover'%>
		</div>
		<div style="float:right"><%=submit_tag 'Generate Report >>'%></div>
		<% end %>

	</body>
</html>
