<%= form_for(@forex_payment) do |f| %>
  <% if @forex_payment.errors.any? %>
    <div id="error_explanation" class="errors">
      <h2><%= pluralize(@forex_payment.errors.count, "error") %> prohibited this Forex Payment from being saved:</h2>

      <ul>
        <% @forex_payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <table>
      <tr>
        <td class="text"><%= f.label :emp_id, 'Employee Id: ' %></td>
        <td><%= f.text_field :emp_id, :autocomplete => "off", :class => 'emp_id', :"data-href" => search_by_id_profiles_path %>
          <span class="mandatory_mark">*</span>
          </td>
      </tr>
      <tr>
        <td class="text"><%= f.label :emp_name, 'Employee Name: ' %></td>
        <td><%= f.text_field :emp_name, :autocomplete => "off", :class => 'emp_name', :"data-href" => search_by_name_profiles_path %>
          <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :issue_date, 'Issue Date: ' %></td>
        <td><%= f.text_field :issue_date, :autocomplete => "off", :class => 'date_picker' %>
          <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :amount, 'Amount: ' %></td>
        <td><%= f.text_field :amount, :autocomplete => "off" %>
          <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :currency, 'Currency: ' %></td>
        <td><%= f.text_field :currency, :autocomplete => "off" %>
          <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :inr, 'INR: ' %></td>
        <td><%= f.text_field :inr, :autocomplete => "off" %>
          <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :place, 'Place: ' %></td>
        <td><%= f.text_field :place, :autocomplete => "off" %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :travel_date, 'Travel Date: ' %></td>
        <td><%= f.text_field :travel_date, :autocomplete => "off", :class => 'date_picker' %>
          <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :project, 'Project: ' %></td>
        <td><%= f.text_field :project, :autocomplete => "off" %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :vendor_name, 'Vendor Name: ' %></td>
        <td><%= f.text_field :vendor_name, :autocomplete => "off" %>
        <span class="mandatory_mark">*</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :card_number, 'Card Number: ' %><br/>
        <span>Example: "42111111111111"</span></td>
        <td><%= f.text_field :card_number, :autocomplete => "off", :class => 'credit_card_number' %></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :expiry_date, 'Expiry Date: ' %></td>
        <td><%= f.text_field :expiry_date, :autocomplete => "off", :class => 'date_picker credit_card_expiry' %>&nbsp;<span class="mandatory_mark partial_mandatory_mark red">**</span></td>
      </tr>
      <tr>
        <td class="text"><%= f.label :office, 'Office: ' %></td>
        <td><%= f.text_field :office, :autocomplete => "off" %></td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <span class="mandatory_mark">*</span> <span class="red">Marked fields are mandatory</span> <br/>
  <span class="mandatory_mark partial_mandatory_mark red">**</span> <span class="red">If credit card number is specified, expiry date is mandatory</span>
<% end %>

<% content_for :page_js do %>
  <script>
    $(document).ready(function() {
      populateForexFields();
    });
  </script>
<% end %>
