<h1>Forex Payments</h1>

<div class="no_emp hide error">No employee found for given name.</div>
<form action='/forex_payments/search' method = "get">
<span class="search_by">Search by:</span>
  <%= label_tag 'Employee Name' %>:
  <%= text_field_tag :name, params[:name], :class => 'emp_name' %>
  <span class="or_field">(or)</span>
  <%= label_tag 'Employee Id' %>:
  <%= text_field_tag :emp_id, params[:emp_id], :class => 'emp_id'%>
  <%= submit_tag "Search", :name => nil%>
</form>
<div class="right">
  <%= link_to "Export as Excel", export_forex_payments_url %>
</div>
<div>
  <%= paginate @forex_payments%>
</div>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Issue Date</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Place</th>
    <th></th>
  </tr>
  <% @forex_payments.each do |payment| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= payment.emp_id %></td>
      <td><%= payment.emp_name %></td>
      <td><%= payment.issue_date%></td>
      <td><%= payment.amount%></td>
      <td><%= payment.currency %></td>
      <td><%= payment.place%></td>

      <td><%= link_to 'Show', payment %> |
      <%= link_to 'Edit',edit_forex_payment_path(payment) %> |
      <%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>

    </tr>
  <% end %>
</table>
<%= link_to 'New Forex Payment', new_forex_payment_path %>
