<div class="right_align">
  <%= link_to image_tag("new_link.png") + "Create Forex Payments", new_forex_payment_path %>
</div>
<h1>Forex Payments</h1>
<div class="no_emp hide error">No employee found for given name.</div>
<!-- TODO: Use form helper and url helper -->
<div>
  <%= form_tag(forex_payments_path, :method => "get") do %>
    <span class="search_by">Search by:</span>
    <%= label_tag 'Employee Name' %>:
    <%= text_field_tag :name, params[:name], :class => 'emp_name', :"data-href" => search_by_name_profiles_path %>
    <span class="or_field">(or)</span>
    <%= label_tag 'Employee Id' %>:
    <%= text_field_tag :emp_id, params[:emp_id], :class => 'emp_id', :"data-href" => search_by_id_profiles_path %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div class="right_align">
  <%= link_to(image_tag("excel.png") + "Export in Excel" , export_forex_payments_path(:format => :xls)) %>
</div>

<div>
  <%= paginate @forex_payments %>
</div>
<table id="forex_payment_content">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Issue Date</th>
    <th>Travel Date</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Place</th>
    <th></th>
  </tr>

  <% @forex_payments.each do |payment| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= payment.emp_id %></td>
      <td><%= payment.emp_name %></td>
      <td><%= DateHelper.date_fmt(payment.issue_date) %></td>
      <td><%= DateHelper.date_fmt(payment.travel_date) %></td>
      <td><%= number_with_precision(payment.amount, :precision => 2) %></td>
      <td><%= payment.currency %></td>
      <td><%= payment.place %></td>

      <td><%= link_to('Show', payment) %> |
          <%= link_to('Edit', edit_forex_payment_path(payment)) %>
          <% if (@forex_ids_with_settlement && @forex_ids_with_settlement.length && !@forex_ids_with_settlement.include?(payment.id.to_s)) %>
            | <%= link_to('Destroy', payment, :confirm => 'Are you sure?', :method => :delete) %></td>
          <% end %>
    </tr>
  <% end %>
</table>
