<p id="notice"><%= notice %></p>
<div>
  <b>Employee Id</b>
  <%= @forex_payment.emp_id %><br/>
  <b>Employee Name</b>
  <%= @forex_payment.emp_name %><br/>

  <b>Issue Date</b>
  <%= @forex_payment.issue_date %><br/>

  <b>Amount</b>
  <%= @forex_payment.amount %><br/>

  <b>Currency </b>
  <%= @forex_payment.currency %><br/>

  <b>Place </b>
  <%= @forex_payment.place %><br/>
</div>

<%= link_to 'Edit', edit_forex_payment_path(@forex_payment) %> |
<%= link_to 'Back', forex_payments_path %>
