<%= form_tag({:action => 'generate_report'}, :method => 'post') do %>
<input type="hidden" name="settlement_id" value="<%= @expense_report['id'] %>" />
  <input type="hidden" name="empl_id" value="<%= @expense_report['empl_id'] %>" />
  <input type="hidden" name="emp_name" value="<%= @expense_report['forex_payments'].first.emp_name unless @expense_report['forex_payments'].first.nil? %>" />
  <input type="hidden" name="travel_id" id="travel_id" value="<%= @expense_report['travel_id'] %>" />
  <br/>

  <span class="heading">Forex Information</span>
  <div>
    <div style="display: inline-block; padding-right: 10px;">
      <h4>From Date</h4>
      <input type="text" id="forex_from" name="forex_from" class="date_picker refresh" value=<%= DateHelper.date_fmt(@forex_from_date) %> />
    </div>
    <div style="display: inline-block; padding-right: 10px;">
      <h4>To Date</h4>
      <input type="text" name="forex_to" id="forex_to" class="date_picker refresh" value=<%= DateHelper.date_fmt(@forex_to_date) %> />
    </div>
  </div>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Issue Date</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Place</th>
    </tr>
    <%
      forexes_avlbl = @expense_report['forex_payments'].present? && !@expense_report['forex_payments'].empty?
      if forexes_avlbl
        @expense_report['forex_payments'].each do |payment| %>
          <tr class="<%= cycle("even", "odd") %>">

            <td><%= check_box_tag 'forex_payments[]', payment.id.to_s, :checked => true %></td>
            <td><%= payment.emp_id %></td>
            <td><%= payment.emp_name %></td>
            <td><%= payment.issue_date %></td>
            <td><%= payment.amount %></td>
            <td><%= payment.currency %></td>
            <td><%= payment.place %></td>
          </tr>
        <% end
      else %>
      <tr><td colspan="7">No Forexes available around the chosen travel dates</td></tr>
    <% end %>
  </table>

  <span class="heading">Expenses</span>

  <div>
    <div style="display: inline-block; padding-right: 10px;">
      <h4>From Date</h4>
      <input type="text" id="expense_from" name="expense_from" class="date_picker refresh" value=<%= DateHelper.date_fmt(@expenses_from_date) %> />
    </div>
    <div style="display: inline-block; padding-right: 10px;">
      <h4>To Date</h4>
      <input type="text" id="expense_to" name="expense_to" class="date_picker refresh" value=<%= DateHelper.date_fmt(@expenses_to_date) %> />
    </div>
  </div>
  <%
    expenses_avlbl = @expense_report['expenses'].present? && !@expense_report['expenses'].empty?
    if expenses_avlbl
      expense_map = @expense_report['expenses'].group_by{|x| x[:expense_rpt_id].to_s} %>
      <div id="expense_report_accordion">
        <% expense_map.each do |report_id, expenses| %>
          <h2><a href="#"><input type='checkbox' name='<%=report_id%>'><%= report_id %></a></h2>
          <div>
            <table id="<%=report_id%>_table">
              <tr>
                <th>&nbsp;</th>
                <th>Expense Report Id</th>
                <th>Project Code</th>
                <th>Expense Date</th>
                <th>Expense Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Payment Type</th>
              </tr>
              <% expenses.each do |expense| %>
                <tr class="<%= cycle("even", "odd") %>">
                  <td><%= check_box_tag 'expenses[]', expense.id.to_s %></td>
                  <td><%= expense.expense_rpt_id%></td>
                  <td><%= expense.project %></td>
                  <td><%= expense.expense_date %></td>
                  <td><%= expense.expense_type %></td>
                  <td><%= expense.description %></td>
                  <td><%= expense.original_cost %> <%= expense.original_currency %></td>
                  <td><%= expense.payment_type %></td>
                </tr>
              <% end %>
          </table>
        </div>
      <% end %>
    </div>
  <% else %>
    <table>
      <tr><td colspan="8">No expenses available around the chosen travel dates</td></tr>
    </table>
  <%end%>

  <div>
    <label for="cash_handover">Cash handed over by Employee: </label>&nbsp;<%= text_field_tag 'cash_handover' %>
  </div>
  <br/><br/>
  <table id='report_buttons'>
    <tr>
      <td><div><input type="button" value="<< Back" onclick="javascript:history.go(-1);"/></div></td>
      <td><div><%= (forexes_avlbl || expenses_avlbl) ? submit_tag('Generate Report >>') : '' %></div></td>
    </tr>
  </table>
<% end %>
