<html>
<body>
<h1>Expense Reimbursement</h1>

<%= label_tag 'Employee Name: ', nil, :class=>'reimb_heading' %>
<%= label_tag 'employee_name: ', @empl_name, :class=>'reimb_value' %>

<%= label_tag 'Employee Id : ', nil, :class=>'reimb_heading' %>
<%= label_tag 'employee_id', @expense_reimbursement['empl_id'], :class=>'reimb_value' %>

<%= label_tag 'Expense Report Id : ', nil, :class=>'reimb_heading' %>
<%= label_tag 'employee_rpt_id', @expense_reimbursement['expense_report_id'], :class=>'reimb_value' %>

<br/><br/>

<%= label_tag 'Created Date : ', nil, :class=>'reimb_heading' %>
<%= label_tag @expense_reimbursement['submitted_on'], nil, :class=>'reimb_value' %>
<br/><br/>
<%= form_tag({:action => 'process_reimbursement'}, :method => 'post') do %>
    <% @all_expenses.each do |project_code, expenses| %>
        <div class='center_text'>
          <%= label_tag 'Project Code', nil, :class=>'reimb_heading' %>
          <%= label_tag project_code.upcase %>
        </div>
        <table>
          <tr>
            <th/>
            <th>Expense Type</th>
            <th>Expense Date</th>
            <th>Cost</th>
            <th>Currency</th>
            <th>Description</th>
            <th>Vendor</th>
            <th>Payment Type</th>
            <th>Attendees</th>
            <th>Personal</th>
          </tr>
          <% expenses.each do |expense| %>
              <tr class="<%= cycle("even", "odd") %>">
                <td><input type='checkbox' id='selected_expenses_' name='selected_expenses[]' value='<%= expense.id.to_s %>'
                                           class='affects_total' checked="true"/></td>

                <td><%= expense.expense_type %></td>
                <td><%= date_fmt(Date.parse(expense.expense_date)) %></td>
                <td><input type="text" name="expense_amount[<%= expense.id.to_s %>]"
                           value="<%= format_two_decimal_places(expense.cost_in_home_currency.to_f) %>"  class='affects_total'/></td>
                <td>INR</td>
                <td><%= expense.description %></td>
                <td><%= expense.vendor %></td>
                <td><%= expense.payment_type %></td>
                <td><%= expense.attendees %></td>
                <td><%= expense.is_personal %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
    <input type="hidden" name="submitted_on" value="<%= @expense_reimbursement['submitted_on'] %>"/>
    <input type="hidden" name="empl_id" value="<%= @expense_reimbursement['empl_id'] %>"/>
    <input type="hidden" name="expense_report_id" value="<%= @expense_reimbursement['expense_report_id'] %>"/>
    <%= label_tag "Notes : " %>
    <textarea name="notes"></textarea>

    <div class='right_align'>

      <%= label_tag 'Total Amount : ', nil, :class=>'reimb_heading' %>
      <label id="total_amount"><%= @expense_reimbursement['total_amount']%></label>
    </div>
    <table id='report_buttons'>
      <tr>
        <td><input type="button" name='Back' value="Back" onclick="javascript:history.go(-1);"/></td>
        <td><%= submit_tag "Process", :name=>"process_reimbursement" %></td>
        <td><%= submit_tag "Mark as Faulty", :name=>"mark_as_faulty" %></td>
      </tr>
    </table>
    </div>
<% end %>
</body>
</html>
