<html>
<body>
  <h1>Expense Reimbursement</h1>

  <div class="no_emp hide error">No employee found for given name.</div>
  <form action='/expense_reimbursement/filter#expense_reimbursement' method = "get">
    <span class="search_by">Search by:</span>
    <%= label_tag 'Employee Name' %>:
    <%= text_field_tag :name, params[:name], :class => 'emp_name' %>
    <span class="or_field">(or)</span>
    <%= label_tag 'Employee Id' %>:
    <%= text_field_tag :empl_id, params[:empl_id], :class => 'emp_id'%>
    <%= label_tag 'Expense Report Id' %>:
    <%= text_field_tag :expense_rpt_id, params[:expense_rpt_id], :class => 'expense_rpt_id'%>
    <%= submit_tag "Search", :name => nil%>
  </form>

  <% if(@expense_reimbursements && !@expense_reimbursements.empty?) %>
    <table>
      <tr>
        <th>Expense Report Id</th>
        <th>Employee Id</th>
        <th>Submitted Date</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Last Modified Date</th>
      </tr>
      <% @expense_reimbursements.each do |expense_reimbursement| %>
        <tr class="<%= cycle("even", "odd") %>">
          <% if (expense_reimbursement.status == 'Processed' || expense_reimbursement.status == 'Faulty' ) %>
            <td><%= link_to expense_reimbursement.expense_report_id, :action=> 'show', :id => expense_reimbursement.id %></td>
          <% else %>
            <td><%= link_to expense_reimbursement.expense_report_id, :action=> 'edit', :id => expense_reimbursement.expense_report_id %></td>
          <% end %>
          <td><%= expense_reimbursement.empl_id%></td>
          <td><%= date_fmt(expense_reimbursement.submitted_on)%></td>
          <td><%= format_two_decimal_places(expense_reimbursement.total_amount)%></td>
          <td><%= expense_reimbursement.status%></td>
          <td><%= date_fmt(expense_reimbursement.updated_at)%></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</body>
</html>
