<%= form_for @expense_report, :url => expense_settlement_url('generate_report'), :method => 'post' do |settlement_form| %>

    <%= settlement_form.hidden_field :id %>
    <%= settlement_form.hidden_field :empl_id %>
    <%= settlement_form.hidden_field :outbound_travel_id %>
    <%= settlement_form.hidden_field :emp_name, :value => (@forex_payments.first.emp_name unless @forex_payments.first.nil?) %>
    <br/>

    <span class="heading">Forex Information</span>

    <div>
      <div style="display: inline-block; padding-right: 10px;">
        <h4>From Date</h4>
        <input type="text" id="forex_from" name="forex_from" class="date_picker refresh" value="<%= DateHelper.date_fmt(@forex_from_date) %>">
      </div>
      <div style="display: inline-block; padding-right: 10px;">
        <h4>To Date</h4>
        <input type="text" name="forex_to" id="forex_to" class="date_picker refresh" value="<%= DateHelper.date_fmt(@forex_to_date) %>">
      </div>
    </div>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Employee Id</th>
        <th>Name</th>
        <th>Issue Date</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Place</th>
      </tr>
      <%
         forexes_avlbl = @forex_payments.present? && !@forex_payments.empty?
         if forexes_avlbl
             @forex_payments.each do |payment| %>
              <tr class="<%= cycle("even", "odd") %>">

                <td><%= check_box_tag 'forex_payments[]', payment.id.to_s, :checked => true %></td>
                <td><%= payment.emp_id %></td>
                <td><%= payment.emp_name %></td>
                <td><%= payment.issue_date %></td>
                <td><%= payment.amount %></td>
                <td><%= payment.currency %></td>
                <td><%= payment.place %></td>
              </tr>
          <% end
             else %>
          <tr>
            <td colspan="7">No Forexes available around the chosen travel dates</td>
          </tr>
      <% end %>
    </table>

    <span class="heading">Expenses</span>

    <div>
      <div style="display: inline-block; padding-right: 10px;">
        <h4>From Date</h4>
        <input type="text" id="expense_from" name="expense_from" class="date_picker refresh" value="<%= DateHelper.date_fmt(@expenses_from_date) %>">
      </div>
      <div style="display: inline-block; padding-right: 10px;">
        <h4>To Date</h4>
        <input type="text" id="expense_to" name="expense_to" class="date_picker refresh" value="<%= DateHelper.date_fmt(@expenses_to_date) %>">
      </div>
    </div>
    <%
       expenses_avlbl = @expenses.present? && !@expenses.empty?
       if expenses_avlbl
           expense_map = @expenses.group_by { |x| x[:expense_rpt_id].to_s } %>
        <div id="expense_report_accordion">
          <% expense_map.each do |report_id, expenses| %>
              <h2><a href="javascript:void(0);"><input type='checkbox' name='<%= report_id %>'><%= report_id %></a></h2>

              <div>
                <table id="<%= report_id %>_table">
                  <tr>
                    <th>&nbsp;</th>
                    <th>Expense Report Id</th>
                    <th>Project Code</th>
                    <th>Expense Date</th>
                    <th>Expense Type</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Payment Type</th>
                  </tr>
                  <% expenses.each do |expense| %>
                      <tr class="<%= cycle("even", "odd") %>">
                        <td><%= check_box_tag 'expenses[]', expense.id.to_s %></td>
                        <td><%= expense.expense_rpt_id %></td>
                        <td><%= expense.project %></td>
                        <td><%= DateHelper.date_fmt(DateHelper.date_from_str(expense.expense_date)) %></td>
                        <td><%= expense.expense_type %></td>
                        <td><%= expense.description %></td>
                        <td><%= expense.original_cost %> <%= expense.original_currency %></td>
                        <td><%= expense.payment_type %></td>
                      </tr>
                  <% end %>
                </table>
              </div>
          <% end %>
        </div>
    <% else %>
        <table>
          <tr>
            <td colspan="8">No expenses available around the chosen travel dates</td>
          </tr>
        </table>
    <% end %>

    <script id="conversion_rates" type="text/json"><%= @conversion_rates %></script>

    <div class="handover_wrapper">
      <%= hidden_field_tag :applicable_currencies, @applicable_currencies %>
      <h4>Cash handed over by Employee: </h4>

      <table class="cash_handovers">
        <th>Amount</th>
        <th>Currency</th>
        <th>Conversion rate</th>
        <%= settlement_form.fields_for :cash_handovers do |handover_form| %>
            <tr class="cash_handover <%= cycle('even', 'odd') %>">
              <td>
                <%= handover_form.text_field :amount, class: 'amount ' %>
              </td>
              <td>
                <%= handover_form.text_field :currency, class: 'handover_currency' %>
              </td>
              <td>
                <%= handover_form.text_field :conversion_rate, class: 'conversion_rate' %>
              </td>
              <td class="add_row_td">
                <%= link_to image_tag("delete.png") + 'Delete', 'javaScript:void(0)', class: 'delete_row'%>
              </td>
            </tr>
        <% end %>
      </table>
      <%= link_to image_tag("new_link.png") + 'Add New Row', 'javaScript:void(0)', class: 'add_row' %>
    </div>

    <br/><br/>
    <table id='report_buttons'>
      <tr>
        <td>
          <div><input type="button" value="<< Back" onclick="javascript:history.go(-1);"/></div>
        </td>
        <td>
          <div><%= (forexes_avlbl || expenses_avlbl) ? submit_tag('Generate Report >>', class: 'generate_settlement') : '' %></div>
        </td>
      </tr>
    </table>
<% end %>
