<!-- TODO: Why do we have two layouts? -->
<!DOCTYPE html>
<html>
  <head>
    <title>Expense Reimbursement</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "jquery-ui-custom" %>
    <%= stylesheet_link_tag "style" %>
    <!-- TODO: Ideally, js should be loaded towards the bottom of the page -->
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => '/layouts/top_bar' %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "#{name}" %>
    <% end %>
    <div class="content">
      <div id="panel" title="out"></div>
      <%= yield %>
    </div>
    <%= yield :page_js %>
  </body>
</html>
