<!-- TODO: Why do we have two layouts? -->
<!DOCTYPE html>
<html>
  <head>
    <title>Expense Reimbursement</title>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "jquery-ui-custom" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => '/layouts/top_bar' %>
    <div class="content">
      <div id="menu">
        <ul class="tabs">
          <li><%= link_to("Outbound Travels", "#outbound_travels", :title => "Outbound Travels") %></li>
          <li><%= link_to("Forex Payments", "#forex_payments", :title => "Forex Payments") %></li>
          <li><%= link_to("Travel Settlement", "#expense_settlements", :title => "Expense Settlement") %></li>
          <li><%= link_to("Non-travel Reimbursement", "#expense_reimbursements", :title => "Expense Reimbursement") %></li>
          <li><%= link_to("Uploads & Reports", "#reports", :title => "Reports") %></li>
        </ul>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :page_js %>
  </body>
</html>
