<!-- All list pages to override application layout and use this one TODO: remove this comment-->
<!DOCTYPE html>
<html>
  <head>
    <title>Expense Reimbursement</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "jquery-ui-custom" %>
    <%= stylesheet_link_tag "style" %>
    <!-- TODO: Ideally, js should be loaded towards the bottom of the page -->
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => '/layouts/top_bar' %>
    <div class="content">
      <div id="menu">
        <ul class="tabs">
          <li><%= link_to("Non-travel Reimbursement", "#expense_reimbursements", :title => "Expense Reimbursement", :"data-url" => expense_reimbursements_path) %></li>
          <li><%= link_to("Completed Expenses", "#consolidated_expenses", :title => "Completed Expenses", :"data-url" => consolidated_expenses_path) %></li>
          <li><%= link_to("Uploads & Reports", "#reports", :title => "Reports", :"data-url" => reports_path) %></li>
          <li><%= link_to("Outbound Travels", "#outbound_travels", :title => "Outbound Travels", :"data-url" => outbound_travels_path) %></li>
          <li><%= link_to("Forex Payments", "#forex_payments", :title => "Forex Payments", :"data-url" => forex_payments_path) %></li>
          <li><%= link_to("Travel Settlement", "#expense_settlements", :title => "Expense Settlement", :"data-url" => expense_settlements_path) %></li>
        </ul>
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#menu').tabs({
        ajaxOptions: {
          error: function(xhr, status, index, anchor) {
            $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible. If this wouldn't be a demo.");
          }
        },
        select: function(event, ui) {
          var tab = $(ui.tab);
          if (tab.attr('data-url').indexOf('#') != -1) {
            window.location = tab.attr('data-url');
          } else {
            window.location = tab.attr('data-url') + tab.attr('href');
          }
        }
      });
    });
    </script>
    <%= yield :page_js %>
  </body>
</html>
